.header {
  background: rgba(19, 19, 21, 0.5019607843);
  padding: 16px 0px;
}
.header_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #FFFFFF;
  font-size: 12px;
}

.list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.list__item {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 14px;
}
.list__item_link-bold {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 22px;
}

.list-item:hover {
  transform: scale(1.2);
}

about {
  display: block;
}

.about__wrapper {
  display: flex;
  align-items: center;
}

.about__wrapper-line {
  position: relative;
  top: -65px;
  width: 317px;
  height: 1px;
  background-color: #FFFFFF;
}

.about__wrapper-info {
  font-size: 30px;
  color: #FFFFFF;
}

.about__description {
  width: 200px;
  font-size: 30px;
  color: #FFFFFF;
  position: relative;
  top: -100px;
}

.about__year {
  font-size: 25px;
  color: #FFFFFF;
  text-align: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-bg {
  background-image: url(/image/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.essential {
  background-color: rgba(174, 156, 156, 0.2509803922);
  position: relative;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 111px 0 32px 0;
}

.wrapper {
  position: relative;
}

.wrapper__header {
  display: flex;
  align-items: center;
  font-size: 48px;
  letter-spacing: 0.2em;
  color: #ffffff;
  gap: 44px;
  margin-bottom: 15px;
}

.wrapper__header-line {
  position: relative;
  width: 223px;
  height: 1px;
  background-color: #ffffff;
}

.wrapper__header-title {
  margin-right: 5px;
}

.wrapper__text {
  width: 594px;
  color: #ffffff;
  margin-left: auto;
}

.wrapper__text-inner {
  font-size: 20px;
  padding-top: 4%;
}

.wrapper__text-inner:first-child {
  font-size: 30px;
  padding-top: 4%;
  line-height: 1.2;
}

.wrapper__text-inner:last-child {
  margin-top: 48px;
  text-align: right;
}

.wrapper__shatl {
  position: absolute;
  bottom: 74px;
  left: 45px;
  filter: blur(5px);
}

.advantages {
  padding: 128px 0 32px 0;
}
.advantages__header {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 101px;
}
.advantages__header-title {
  letter-spacing: 0.2em;
}
.advantages__header-lines {
  width: 745px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
  margin-left: 48px;
}
.advantages__text {
  display: flex;
}
.advantages__text-column {
  font-family: roboto;
  font-size: 32px;
  flex: 25%;
  padding: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.2;
}
.advantages__text-subcolumn {
  font-size: 20px;
  margin-top: 49px;
}/*# sourceMappingURL=style.css.map */