.advantages {
  padding: 128px 0 64px 0;
  font-family: 'Roboto';

  &__header {
    @include flex (44px);
    height: 33px;
    align-items: center;

    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
      }

    &-title {
      font-size: 28px;
      font-weight: 10;
      font-family: 'Roboto';
      letter-spacing: 0.2em;
      white-space: nowrap;
      color: $color;
      text-shadow: $shadow;

      @media screen and (max-width: 992px) {
        font-size: 22px;
      }
      
      @media screen and (max-width: 640px) {
        margin-left: auto;
        margin-right: auto;
      } 
    }

    &-line {
      border-bottom: 1px solid $color;
      width: 745px;
      position: relative;

      @media screen and (max-width: 640px) {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
    
  &__texcols {
    @include flex (12px);
    flex-wrap: wrap;
    color: $color;

    @media screen and (max-width: 992px) {
      justify-content: center;  
    }

    @media screen and (max-width: 640px) {
      text-align: center;
      gap: 8px;
    }  
    
    &-item {	
      font-size: 20px;
      max-width: 291px;
      text-shadow: $shadow;
      line-height: normal;

      @media screen and (max-width: 992px) {
        font-size: 18px;
        max-width: 342px;
      } 
      
      h2 {
        font-size: 32px;
        margin-bottom: 30px;
        max-width: 291px;
        text-shadow: $shadow;
        margin-top: 68px;

        @media screen and (max-width: 992px) {
          font-size: 24px;
          max-width: 342px;
        } 
      } 
      
      p {
        margin-top: 68px;

        @media screen and (max-width: 992px) {
          margin-top: 0;
        } 
      }  
    }
  }  
}