.container {
  max-width: 1200px;
  margin: 0 auto;
  

   @media screen and (max-width: 1200px) {
     padding-left: 32px;
     padding-right: 32px;
   }
}

.background {
  background-image: url('../images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.fon-one {
  background-image: url('../images/Fon_1.png');
  background-repeat: no-repeat;
  background-size: cover;
}