.essential {
  background-color: #ae9c9c40;
  position: relative;
  backdrop-filter: blur(5px);
  padding: 111px 0 32px 0;
}

.wrapper {
  position: relative;

}

.wrapper__header {
  display: flex;
  align-items: center;
  font-size: 48px;

  letter-spacing: 0.2em;
  color: #ffffff;
  gap: 44px;
  margin-bottom: 15px;
}

.wrapper__header-line {
  position: relative;
  width: 223px;
  height: 1px;
  background-color: #ffffff;
}

.wrapper__header-title {
  margin-right: 5px;
}


.wrapper__text {
  width: 594px;
  color: #ffffff;

  margin-left: auto;
}

.wrapper__text-inner {
  font-size: 20px;
  padding-top: 4%;
}


.wrapper__text-inner:first-child {
  font-size: 30px;
  padding-top: 4%;
  line-height: 1.2;
}

.wrapper__text-inner:last-child {
  margin-top: 48px;
  text-align: right;
}

.wrapper__shatl {
  position: absolute;
  bottom: 74px;
  left: 45px;
  filter: blur(5px);
}