.header {
  background: #13131580;
  padding: 16px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #FFFFFF;
  font-size: 12px;
}

.list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list-item:hover {
  transform: scale(1.2);
}

.list-item {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 14px;
}

.link-bold {
  font-weight: 900;
  font-size: 20px;
}