.main1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.astron {
  position: absolute;
  top: 80px;
  bottom: 150px;
  left: 650px;

}

.line {
  width: 317px; 
  border-top: 1px solid #ffffff;
  margin-top: 330px;
  margin-bottom: 298px;
}


h1 {
  display: inline;
  font-size: 28px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 313px;
  margin-bottom: 282px;
}

h2 {
  font-size: 104px;
  color: #ffffff;
  font-weight: 400;
}

.main2 {
  width: 199px;
  height: 105px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  
}
.data {
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding-top: 68px;
  padding-bottom: 32px;
}