.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: #13131580;
  padding: 15px 0;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 12px ;
}